<section>
  <div
    class="px-8 py-12 md:px-12 mx-auto lg:pb-24 max-w-7xl lg:px-32"
  >
    <div class="relative  bg-black p-8 lg:p-20">
      <h2
        class="mx-auto text-center text-3xl text-balance lg:text-8xl font-light font-display text-white "
      >
        the coolest guy having the chillest day
      </h2>
    </div>
  </div>
</section>
